<section class="container">
    <div class="row">
        {{#each products}}
        <div class="col-md-3">
            <div class="card mt-5" style="width: 15rem; height:25rem;">
                <img src="/product-image/{{this._id}}.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.price}}</p>
                    <p class="card-text">{{this.desc}}</p>
                    <a href="#" class="btn btn-primary">Buy</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>